<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: transparent;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <div class="d-flex">
        <img class="me-1" src="../../../assets/Ionic-Ionicons-Medical-sharp.svg" alt="logo" />
        MedOnline
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-4" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- Links visible to unauthenticated users -->
        <div *ngIf="isLoggedIn" class="ms-auto d-flex align-items-center">
          Hello {{ userName }}!
        </div>
        <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/home">Main page</a>
        <a *ngIf="!isLoggedIn"class="nav-link" routerLink="/doctors-list">Doctors</a>
        <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/login">Login</a>
        <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/register">Register</a>
        <!-- <a *ngIf="isLoggedIn" class="nav-link" (click)="logout()">Wyloguj</a> -->

                <!-- Links visible to logged-in doctors -->

        <a *ngIf="isDoctor" class="nav-link" routerLink="/home">Main page</a>
        <a *ngIf="isDoctor"class="nav-link" routerLink="/doctors-list">Doctors</a>
        <a *ngIf="isDoctor" class="nav-link" routerLink="/doctor-calendar">Calendar</a>
        <a *ngIf="isDoctor" class="nav-link" routerLink="/availability">Add availability</a>
        <a *ngIf="isDoctor" class="nav-link" routerLink="/absence">Add absence</a>
        <a *ngIf="isDoctor" class="nav-link" (click)="logout()">Logout</a>

        <!-- Links visible to logged-in patients -->
        <a *ngIf="isPatient" class="nav-link" routerLink="/home">Main page</a>
        <a *ngIf="isPatient"class="nav-link" routerLink="/doctors-list">Doctors</a>
        <a *ngIf="isPatient" class="nav-link" routerLink="/harmonogram">Calendar</a>
        <a *ngIf="isPatient" class="nav-link" routerLink="/koszyk-zakupowy">Basket</a>
        <a *ngIf="isPatient" class="nav-link" routerLink="/historia">History</a>
        <a *ngIf="isPatient" class="nav-link" (click)="logout()">Logout</a>

        <a *ngIf="isAdmin"class="nav-link" routerLink="/admin-settings">AdminConsole</a>
        <a *ngIf="isAdmin"class="nav-link" routerLink="/doctors-list">Doctors</a>
        <a *ngIf="isAdmin"class="nav-link" routerLink="/register">Register a doctor</a>
        <a *ngIf="isAdmin" class="nav-link" (click)="logout()">Logout</a>

      </div>
    </div>
  </div>
</nav>
