<div class="home_page_info">
   <header>
        <h1>Witamy w <span class="word_accent">MedOnline</span></h1>
        <h3>Leczymy skutecznie i zdalnie! </h3>
   </header>
   <div class="mt-5 opening_hours_info">
        <h4 style="font-weight: bold;">Nasze godziny konsultacji: </h4>
        <h5>Pon - Sob: &nbsp; 7:00 - 20:30</h5>


        <h4 style="font-weight: bold;" class="mt-2">Adres: </h4>
        <h5>Kordylewskiego 1, Kraków</h5>

        <h4 style="font-weight: bold;" class="mt-2">Kontakt: </h4>
        <a href="tel:102823111"><h5 class="mt-1">+48 123 456 789</h5></a>
        <a href="mailto: medonline@gmail.com"><h5 class="mt-1">medonline@gmail.com</h5></a>
   </div>   
   <div class="mt-5">
        <a href="https://facebook.com" target="_blank"><button type="button" class="btn btn-dark btn-lg medonline_button">Odwiedź <img src="../../../assets/bxl-facebook-circle (1).svg" class="inverted_color" alt="fb icon"/></button></a>
        <a href="https://www.google.com/maps/place/Lekarz+Rodzinny.+NZOZ/@50.0443253,19.9797993,17z/data=!3m1!4b1!4m6!3m5!1s0x471644b6bc0ef061:0x712458cbfbdaecbc!8m2!3d50.0443253!4d19.9823742!16s%2Fg%2F1hc440vdk?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank"><button type="button" class="btn btn-dark btn-lg medonline_button">Tutaj jesteśmy <img src="../../../assets/bxs-map.svg" class="inverted_color" alt="map icon"/></button></a>
        <a href="https://instagram.com" target="_blank"><button type="button" class="btn btn-dark btn-lg medonline_button">Odwiedź <img src="../../../assets/bxl-instagram-alt (2).svg" class="inverted_color" alt="ig icon"/></button></a>
   </div>
</div>
