<div class="availability-form">
    <h2>Define availability</h2>
  
    <!-- Wybór rodzaju dostępności -->
    <label>
      <input
        type="radio"
        name="availabilityType"
        value="cyclic"
        [(ngModel)]="newAvailability.type"
      />
      Cyclic availability
    </label>
    <label>
      <input
        type="radio"
        name="availabilityType"
        value="one-time"
        [(ngModel)]="newAvailability.type"
      />
      One-time availability 
    </label>
  
    <!-- Dostępność cykliczna -->
    <div *ngIf="newAvailability.type === 'cyclic'">
      <label>Period: from</label>
      <input type="date" [(ngModel)]="newAvailability.startDate" />
  
      <label>to:</label>
      <input type="date" [(ngModel)]="newAvailability.endDate" />
  
      <label>Days:</label>
      <div>
        <label *ngFor="let day of daysOfWeekOptions">
            <input
              type="checkbox"
              [value]="day.value"
              [checked]="newAvailability.daysOfWeek && newAvailability.daysOfWeek.includes(day.value)"
              (change)="toggleDaySelection(day.value)"
            />
            {{ day.label }}
          </label>
          
      </div>
    </div>
  
    <!-- Dostępność jednorazowa -->
    <div *ngIf="newAvailability.type === 'one-time'">
      <label>Date:</label>
      <input type="date" [(ngModel)]="newAvailability.specificDate" />
    </div>
  
    <!-- Godziny konsultacji -->
    <label>Hours:</label>
    <div *ngFor="let slot of newAvailability.timeSlots; let i = index">
      <input
        type="time"
        [(ngModel)]="slot.startTime"
        placeholder="Godzina rozpoczęcia"
      />
      -
      <input
        type="time"
        [(ngModel)]="slot.endTime"
        placeholder="Godzina zakończenia"
      />
      <button (click)="removeTimeSlot(i)">Delete</button>
    </div>
    <button (click)="addTimeSlot()">Add availability</button>
  
    <!-- Zapis dostępności -->
    <button (click)="saveAvailability()">Save</button>
  </div>
  
  <!-- Lista dostępności -->
  <div class="availability-list">
    <h3>Your availability</h3>
    <ul>
      <li *ngFor="let item of (availability$ | async)">
        <strong>{{ item.type === 'cyclic' ? 'Cyclic' : 'One-time' }}</strong>:
        <span *ngIf="item.type === 'cyclic'">
          <button *ngIf="item.key" (click)="deleteAvailability(item.key)">Delete</button>
          From {{ item.startDate }} to {{ item.endDate }},
          On {{ item.daysOfWeek?.join(', ') }}:
        </span>
        <span *ngIf="item.type === 'one-time'">
          <button *ngIf="item.key" (click)="deleteAvailability(item.key)">Delete</button>
          On {{ item.specificDate }}:
        </span>
        <ul>
          <li *ngFor="let slot of item.timeSlots">
            {{ slot.startTime }} - {{ slot.endTime }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  