<section class="h-100" style="background-color: #eee; min-height: 93vh;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
  
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Your basket</h3>
          <img id="extend_cart_icon" src="../../../assets/bx-chevrons-down.svg" alt="extend icon"/>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Total order cost: {{ totalUpcomingAppointmentsPrice }} zł </h3>
            <button type="button" (click)="this.buy()" class="btn btn-warning btn-block btn-lg">Buy</button>
          </div>
        </div>

        <!-- Upcoming Appointments Section -->
        <div class="card mt-4">
          <div class="card-body">
            <h4>Upcomming appointments</h4>
            <ul>
              <li *ngFor="let appointment of upcomingAppointments">
                {{ appointment.date }} - ( {{ appointment.description }} ) - {{ appointment.price }} zł
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
