<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="showPreviousWeek()">Poprzedni tydzień</button>
    <h2>Kalendarz ({{ currentWeek[0] | date: 'dd.MM' }} - {{ currentWeek[6] | date: 'dd.MM' }})</h2>
    <select [(ngModel)]="selectedDoctorId" (change)="onDoctorChange()">
      <option *ngFor="let doctor of doctors" [value]="doctor.user_id">
        {{ doctor.name }}
      </option>
    </select>
    <button (click)="showNextWeek()">Następny tydzień</button>
  </div>

  <div class="calendar-time-navigation">
    <button (click)="showPreviousHours()">Przewiń godziny wstecz</button>
    <button (click)="showNextHours()">Przewiń godziny do przodu</button>
  </div>

  <div class="calendar-grid">
    <div class="calendar-column" *ngFor="let day of currentWeek; let i = index">
      <div class="calendar-header-day" [class.today]="isToday(day)">
        <strong>{{ day | date: 'EEEE' }}</strong>
        <span>{{ day | date: 'dd.MM' }}</span>
        <!-- <span class="appointments-count">Liczba konsultacji: {{ getAppointmentsCount(day) }}</span> -->
      </div>

      <div class="calendar-time-slots">
        <div *ngFor="let hour of displayedTimeSlots" class="time-slot"
        [id]="'hour-' + hour"
          [ngClass]="{
            'appointment-block': isAppointmentSlot(day, hour),
            'regular': isRegularConsultation(day,hour),
            'emergency':isEmergencyConsultation(day,hour),
            'consultation':isConsultation(day,hour),
            'past': isPastAppointment(day, hour),
            'current': isCurrentTimeSlot(day, hour),
            'empty-slot': isAvailableSlot(day, hour) && !isAppointmentSlot(day, hour),
            'absent-day': isAbsent(day),
            'unavailable-slot': isUnavailableSlot(day, hour)
          }"
          (mouseenter)="showDetails(day, hour)"
          (mouseleave)="hideDetails()"
          (click)="showModal(day, hour)">
          
          <div *ngIf="isAppointmentSlot(day, hour)" class="appointment-block">
            <span>{{ getAppointmentType(day, hour) }}</span>
            <div *ngIf="hoveredAppointment" class="appointment-description">
              {{ hoveredAppointment.description}}</div>
          </div>
          <div *ngIf="isCurrentTimeSlot(day, hour)" class="current-time-marker"></div>
          <div class="calendar-hour">{{ hour }}</div>
        </div>
          <div class="modal" *ngIf="isBookingModalVisible">
            <div class="modal-content">
              <span class="close" (click)="closeBookingModal()">&times;</span>
              <h2>Szczegóły rezerwacji</h2>
              <form (ngSubmit)="bookConsultation()">
                <div class="form-group">
                  <label for="type">Typ spotkania</label>
                  <select id="type" [(ngModel)]="bookingDetails.type" name="type" required>
                    <option value="regular">Regular</option>
                    <option value="emergency">Emergency</option>
                    <option value="consultation">Consultation</option>
                  </select>
                </div>
            
                <div class="form-group">
                  <label for="patientName">Imię</label>
                  <input id="patientName" [(ngModel)]="bookingDetails.patientName" name="patientName" type="text" required />
                </div>
            
                <div class="form-group">
                  <label for="patientSurname">Nazwisko</label>
                  <input id="patientSurname" [(ngModel)]="bookingDetails.patientSurname" name="patientSurname" type="text" required />
                </div>
            
                <div class="form-group">
                  <label for="gender">Płeć</label>
                  <select id="gender" [(ngModel)]="bookingDetails.gender" name="gender" required >
                  <option value="emergency">Kobieta</option>
                    <option value="consultation">Męzczyzna</option>
                    </select>
                </div>
            
                <div class="form-group">
                  <label for="age">Wiek</label>
                  <input id="age" [(ngModel)]="bookingDetails.age" name="age" type="number" required />
                </div>

                <div class="form-group">
                  <label for="length">Długość wizyty</label>
                  <input id="length" [(ngModel)]="bookingDetails.length" name="length" type="number" required />
                </div>
            
                <div class="form-group">
                  <label for="doctorNotes">Informacje dla lekarza</label>
                  <textarea id="doctorNotes" [(ngModel)]="bookingDetails.doctorNotes" name="doctorNotes" required></textarea>
                </div>
            
                <button type="submit">Confirm Booking</button>
              </form>
            </div>
            
          </div>

          <div class="modal" *ngIf="isConfirmationModalVisible">
            <div class="modal-content">
              <span class="close" (click)="closeConfirmationModal()">&times;</span>
              <h2>Czy na pewno chcesz anulować tę wizytę?</h2>
              <button (click)="confirmCancellation()">Tak, anuluj</button>
              <button (click)="closeConfirmationModal()">Nie, anuluj</button>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
