<div class="historical-consultations">
    <h2>Historical consultations</h2>
  
    <!-- <div *ngIf="isLoading" class="loading">
      <p>Loading consultations...</p>
    </div> -->
  
    <!-- <div *ngIf="error" class="error">
      <p>{{ error }}</p>
    </div> -->
  
    <div class="card mt-4">
        <div class="card-body">
          <h4>Historical consultations</h4>
          <ul>
            <li *ngFor="let appointment of pastAppointments">
              {{ appointment.date }} - ( {{ appointment.description }} ) - {{ appointment.description }} zł
            </li>
          </ul>
        </div>
      </div>
  
    <div *ngIf="pastAppointments.length === 0" class="no-data">
      <p>No historical consultations</p>
    </div>
  </div>
  